NODE_ENV=production
PORT=5001
MONGO_URL=mongodb+srv://USERNAME:PASSWORD@CLUSTER.mongodb.net/shivexalights
CLIENT_ORIGIN=https://www.shivexalights.in
PUBLIC_SITE_URL=https://www.shivexalights.in
RAZORPAY_KEY_ID=rzp_live_your_public_key
RAZORPAY_KEY_SECRET=your_live_secret_key
